{
    "token": "YOUR_AWESOME_TOKEN_HERE",
    "prefix": "!",
    "embed_author_server": "Arcanus Roleplay",
    "embed_footer_sever": "Arcanus Bot",
    "log_channel": "835906010974912583",
    "welcome_channel": "362387841982136320",
    "bye_channel": "362387841982136320",
    "suggestion_channel": "750399425184137377",
    "tunning_code_channel": "780512296376074240",
    "code_length": 24,
    "numbers_in_code": false,
    "database_host": "127.0.0.1",
    "database_user": "root",
    "database_port": "3310",
    "database_password": "",
    "database_base": "es_extended",
    "developer": "264850923069767680"
}