{
    "token": "YOUR_AWESOME_TOKEN_HERE",
    "prefix": "!",
    "community_name": "ArcanusRP",
    "role_access_id": "835901951144624208",
    "code_length": 24,
    "numbers_in_code": false,
    "database_host": "127.0.0.1",
    "database_user": "root",
    "database_port": "3306",
    "database_password": "123456",
    "database_base": "es_extended",
    "RolID":"835901951144624208",
    "ServerID":"324031676558606339",
    "streamRole": "738289455634448457",
    "streamStatusRole": "738289508654776341"
}